@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model  PagedList.IPagedList<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2></h2>

<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryId</th>
            <td>@item.CategoryName</td>
            <td><a href="/Category/CategoryDelete/@item.CategoryId" class="btn btn-outline-danger"><b>Sil</b></a></td>
            <td><a href="/Category/CategoryUpdate/@item.CategoryId" class="btn btn-outline-warning"><b>Güncelle</b></a></td>


        </tr>
    }

</table>

@*@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("GetCategoryList",new { sayfa}))*@




<a href="/Category/CategoryAdd" class="btn btn-outline-dark"><b>Kategori Ekle</b></a>

<br />
<br />


@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("GetCategoryList", new { sayfa }), new PagedListRenderOptions
{
LiElementClasses = new List<string>
{ "page-link"}
})