@*@using EntityLayer.Concrete
@model List<Category>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h2>Index</h2>

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>

    </tr>
    <tr>
       
            
       

    </tr>
</table>
<a href="/Category/CategoryAdd" class="btn btn-outline-dark">Kategori Ekle</a>*@