
@{
    ViewBag.Title = "Alert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Sweet Alert Kullanımı</h2>
<br />


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<button class="btn btn-outline-success" id="Btn1"><b>Buton1</b></button>
<button class="btn btn-outline-danger" id="Btn2"><b>Buton2</b></button>
<button class="btn btn-outline-warning" id="Btn3"><b>Delete Alert</b></button>

<script>
    $('#Btn1').click(function () {
        swal("Başarılı!", "Yeni Kategori eklendi!", "success");

    });

</script>
<script>
    $('#Btn2').click(function () {
        swal("Click on either the button or outside the modal.")
            .then((value) => {
                swal(`The returned value is: ${value}`);
            });
    });

</script>
<script>
    $('#Btn3').click(function () {
        swal({
            title: "Emin misiniz?",
            text: "Dosya Siliniyor!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Dosya Başarılı Bir şekilde silindi!", {
                        icon: "success",
                    });
                } else {
                    swal("Silme işlemi iptal edildi!");
                }
            });

    });

</script>