
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kayıt</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="CurrentName" Placeholder="İsim" required="" />
                <input type="text" class="name" name="CurrentSurname" Placeholder="Soyadınız" required="" />
                <input type="email" class="mail" name="CurrentMail" Placeholder="E-Mail" required="" />
                <input type="text" class="name" name="CurrentCity" Placeholder="Şehir" required="" />

                <input type="password" class="password" name="Password" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları okudum  <a href="#">Kabul  &amp; Ediyorum</a></label>
                </div>
                <input type="submit"  value="Kayıt Ol" >
               
              
            </form>
        </div>
    </div>
</div>
