@model CategoryVM
@{
    ViewBag.Title = "Deneme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneme</h2>

@Html.DropDownListFor(x=> x.Category.CategoryId, new SelectList(Model.Categories,"CategoryId","CategoryName"), new { @class = "form-control"})

