
@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h2>Dökümantasyon ve Belgelememe Sayfası</h2>
<br />
<br />

<td><a href="/Product/ProductPdf/" class="btn btn-outline-dark"><b><b>Ürün Pdf & Excel Yazdır</b>  </b></a></td>
<br />
<br />
<td><a href="/Employee/EmployeePdf/" class="btn btn-outline-dark"><b> <b>Personel Pdf & Excel Yazdır</b> </b></a></td>
<br />
<br />
<td><a href="/Current/CurrentPdf/" class="btn btn-outline-dark"><b> <b>Cari Pdf & Excel Yazdır</b> </b></a></td>
<br />
<br />
<td><a href="/SalesMovements/SalesMovementsPdf/" class="btn btn-outline-dark"><b> <b>Satış Pdf & Excel Yazdır</b> </b></a></td>

