
@using EntityLayer.Concrete
@model List<Message>

@foreach (var item in Model)
{


    <div class="timeline timeline-inverse">

        <!-- timeline time label -->

        <div class="time-label">

            <span class="bg-warning">

              @item.Date.ToShortDateString()

            </span>

        </div>

        <!-- /.timeline-label -->
        <!-- timeline item -->

        <div>

            <i class="fas fa-envelope bg-primary"></i>

            <div class="timeline-item">

               

                <h3 class="timeline-header"><a href="#"> @item.Subject</a></h3>

                <div class="timeline-body">

                  @item.Content

                </div>

     

            </div>

        </div>
    </div>
}

