
@using EntityLayer.Concrete
@model List<CargoTracking>
@{
    ViewBag.Title = "CargoDetail";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}

<br />
<h2>Kargo Takip Detay Sayfası</h2>
<br />

<table class="table table-hover">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Description</th>
            <td>@item.Date.ToShortDateString()</td>



        </tr>
    }
</table>




